html {
  touch-action: manipulation;
}

.bigbtn {
  width: 7em;
  height: 4em;
}

.savebtn {
  width: 7em;
  height: 4em;
}

.savedelbtn {
  width: 7em;
  height: 4em;
}

.autobtn {
  width: 7em;
  height: 4em;
}