html {
  touch-action: manipulation;
}

.savebtn {
  width: 7em;
  height: 4em;
}

.savedelbtn {
  width: 7em;
  height: 4em;
}

.autobtn {
  width: 4em;
  height: 4em;
  vertical-align : top;
}

.buckup {
  width: 8em;
  height: 4em;
}

.developerbtn {
  width: 10em;
  height: 4em;
  margin: 3%;
}

.shop {
  margin: 3%;
}

.bgmbtn {
  width: 5em;
  height: 4em;
}

.gameresetbtn {
  width: 6em;
  height: 4em;
  background: yellow;
}